@import './variables.scss';
@import './mixins.scss';

.intro {
    padding-bottom: 80px;
}

.intro__text {
    padding-top: 120px;
    flex-shrink: 0;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

.intro__title {
    font-size: 3.2rem;
    @include text-purple;
    line-height: 5rem;
    max-width: 440px;
    font-weight: 700;
    margin-bottom: 50px;

    @media screen and (max-width: 1024px) {
        max-width: 100%;
        text-align: center;
    }
}

.intro__paragraph {
    font-size: 1.8rem;
    line-height: 3rem;
    max-width: 460px;
    margin-bottom: 50px;

    @media screen and (max-width: 1024px) {
        max-width: 100%;
        text-align: center;
    }
}

.intro__btn {
    display: block;
    color: #ffffff;
    padding: 10px 35px;
    width: fit-content;
    border-radius: 25px;
    text-align: center;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #e17d9f 0%, #a193f2 100%);
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.5);

    @media screen and (max-width: 1024px) {
        margin: 0 auto;
    }
}

.intro__img {
    img {
        width: 100%;
        object-fit: fill;
    }

    @media screen and (max-width: 1024px) {
        display: none;
    }
}
