@import './variables.scss';

:root {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 10px;
}

* {
    font-family: inherit;
    box-sizing: border-box;
}

body {
    background-color: #fbfbfb;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}

.flex-container {
    display: flex;
}

a {
    text-decoration: none;
}

@mixin text-blue {
    color: $blue;
}

@mixin text-purple {
    color: $purple;
}

.header {
    padding: 15px 30px;
    display: flex;
}

.header__logo-link {
    @include text-blue;
    font-size: 5rem;
    font-weight: 800;
}

.header__logo {
    margin-right: 9rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav__item {
    margin-right: 5rem;

    &:last-child {
        margin-right: 0;
    }
}

.nav__link {
    @include text-blue;
    font-size: 1.8rem;
    transition: 0.25s color;

    &:hover {
        color: $purple;
    }
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.registration-btn {
    padding: 10px 0;
    text-align: center;
    width: 160px;
    border: 2px solid $blue;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 30px;
    transition: 0.25s background-color, 0.25s border;

    &:hover {
        border: 2px solid $purpleOpacity;
        background-color: $purple;

        a {
            color: #ffffff;
        }
    }
}

.login-btn {
    padding: 10px 0;
    text-align: center;
    width: 160px;
    border: 2px solid $blue;
    background-color: $blue;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.25s background-color, 0.25s border;

    a {
        color: #ffffff;
    }

    &:hover {
        border: 2px solid $purple;
        background: none;

        a {
            color: $purple;
        }
    }
}

.intro {
    padding-bottom: 80px;
}

.intro__text {
    padding-top: 120px;
    flex-shrink: 0;
}

.intro__title {
    font-size: 3.2rem;
    @include text-purple;
    line-height: 5rem;
    max-width: 440px;
    font-weight: 700;
    margin-bottom: 50px;
}

.intro__paragraph {
    font-size: 1.8rem;
    line-height: 3rem;
    max-width: 460px;
    margin-bottom: 50px;
}

.intro__btn {
    display: block;
    color: #ffffff;
    padding: 10px 35px;
    width: fit-content;
    border-radius: 25px;
    text-align: center;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #e17d9f 0%, #a193f2 100%);
}

.intro__img {
    img {
        width: 100%;
        object-fit: fill;
    }
}

.footer {
    padding: 40px;
    background-color: #f2f2f2;
}

.footer__logo {
    @include text-blue;
    margin-bottom: 12px;
    font-size: 5rem;
    text-align: center;
}

.footer__paragraph {
    text-align: center;
    font-size: 1.5rem;
    color: #424242;
}
