    <div class="container">
    {{#if authorization}}
        <header class='header authorized'>
    {{else}}
        <header class='header'>
    {{/if}}
        <div class='header__logo'>
            <a href='/' class='header__logo-link'>Yum</a>
        </div>
        <nav class='nav'>
            <ul class='nav__list'>
                <li class='nav__item'>
                    <a href='/documentation' class='nav__link'>Документація</a>
                </li>
                <li class='nav__item'>
                    <a href='/new-test' class='nav__link'>Додати тест</a>
                </li>
            </ul>
            <ul class='nav__list'>
                <li class='nav__item registration-btn'>
                    <a href='/registration' class='nav__link'>Реєстрація</a>
                </li>
                <li class='nav__item login-btn'>
                    <a href='/login' class='nav__link'>Вхід</a>
                </li>
                {{#if authorization}}
                    <li class='nav__item account-leave'>
                        <button>
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.9204 16H28.9204" stroke="#A193F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M23.9302 25V28H7.93018V4H23.9302V7H25.9302V3C25.9302 2.73478 25.8248 2.48043 25.6373 2.29289C25.4497 2.10536 25.1954 2 24.9302 2H6.93018C6.66496 2 6.41061 2.10536 6.22307 2.29289C6.03553 2.48043 5.93018 2.73478 5.93018 3V29C5.93018 29.2652 6.03553 29.5196 6.22307 29.7071C6.41061 29.8946 6.66496 30 6.93018 30H24.9302C25.1954 30 25.4497 29.8946 25.6373 29.7071C25.8248 29.5196 25.9302 29.2652 25.9302 29V25H23.9302Z" fill="#A193F2"/>
                                <path d="M28.9204 16L24.9204 20" stroke="#A193F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M28.9204 16L24.9204 12" stroke="#A193F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M24.9204 8.09V6.09" stroke="#A193F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M24.9204 26V24" stroke="#A193F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </li>
                    <li class='nav__item account-btn'>
                        <a href='/account' class='nav__link'>
                            <svg
                                height='48'
                                viewBox='0 0 48 48'
                                width='48'
                                xmlns='http://www.w3.org/2000/svg'
                            ><path
                                    d='M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 6c3.31 0 6 2.69 6 6 0 3.32-2.69 6-6 6s-6-2.68-6-6c0-3.31 2.69-6 6-6zm0 28.4c-5.01 0-9.41-2.56-12-6.44.05-3.97 8.01-6.16 12-6.16s11.94 2.19 12 6.16c-2.59 3.88-6.99 6.44-12 6.44z'
                                    fill="#a193f2"
                                >
                                </path>
                                <path
                                    d='M0 0h48v48H0z'
                                    fill='none'
                                >
                                </path>
                            </svg>
                        </a> 
                    </li>                    
                {{/if}}
            </ul>
        </nav>
    </header>
    </div>