<header class="header">
    <div class="header__logo">
        <a href="/" class="header__logo-link">Yum</a>
    </div>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/" class="nav__link">Профіль</a>
            </li>
            <li class="nav__item">
                <a href="/" class="nav__link">Документація</a>
            </li>
            <li class="nav__item">
                <a href="/" class="nav__link">Додата тест</a>
            </li>
        </ul>
        <ul class="nav__list">
            <li class="nav__item registration-btn">
                <a href="/" class="nav__link">Реєстрація</a>
            </li>
            <li class="nav__item login-btn">
                <a href="/" class="nav__link">Вхід</a>
            </li>
        </ul>
    </nav>
</header>