<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/svg" sizes="32x32" rel="icon" href="/images/website/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/error.css"/>
    {{#each styles}}
        <link rel="stylesheet" href={{styleLink this}}>
    {{/each}}
    {{#each scripts}}
        <script src={{scriptLink this}}></script>
    {{/each}}
    <script src="/scripts/index.js"></script>
    <title>{{ pageName }}</title>
</head>

<body>
    {{> header}}

    {{{body}}}

    {{> footer}}
</body>

</html>