<div class="documentation">
  <div class="container">
    <h1 class="documentation__title">
      Документація
    </h1>
    <div class="documentation__items">
      <div class="documentation__item">
        <h2 class="documentation__item-title">
          Як додати тест
        </h2>
        <p class="documentation__item-text">
          Щоб додати тест вам потрібно натиснути на Додати тест, написати назву статті зверху та запитання у виділених для цього полях. Ви можете додавати запитання натиснувши кнопку з плюсом.
        </p>
      </div>
      <div class="documentation__item">
        <h2 class="documentation__item-title">
          Як подивитися створені тести та результати
        </h2>
        <p class="documentation__item-text">
          Щоб подивитись створені тести вам слід натиснути на знак аккаунту в верхньому правому кутку та вибрати з переліку тест, результати якого ви хочете подивитись.
          Дивитись результати тест може лише їх його автор.
        </p>
      </div>
      <div class="documentation__item">
        <h2 class="documentation__item-title">
          Як видалити тест
        </h2>
        <p class="documentation__item-text">
          Щоб видалити тест вам потрібно натиснути на знак аккаунту в правому верхгьому кутку. Після цього оберіть тест, який хочете видалити, натисніть на нього та після переходу на нову сторінку натисніть видалити тест
        </p>
      </div>
    </div>
  </div>
</div>