<div class="documentation">
  <div class="container">
    <h1 class="documentation__title">
      Docs
    </h1>
    <div class="documentation__items">
      <div class="documentation__item">
        <h2 class="documentation__item-title">
          How to create survey
        </h2>
        <p class="documentation__item-text">
          To create new survey you need to click on New Survey button at the top. Then you should write name of the survay and questions at according fields. You can also add questions by clicking on button with plus icon at the bottom of the form.
        </p>
      </div>
      <div class="documentation__item">
        <h2 class="documentation__item-title">
          How to see surveys created by you
        </h2>
        <p class="documentation__item-text">
          To see surveys created by you you should click on the account button at the top right corner of the page. After redirect to new page you will see your surveys and number of answers to it.
        </p>
      </div>
      <div class="documentation__item">
        <h2 class="documentation__item-title">
          How to see answers of survey
        </h2>
        <p class="documentation__item-text">
          To see answers of some survey you should click on any of your surveys at the account page. You can see at the previous docs how to open account page/
        </p>
      </div>
      <div class="documentation__item">
        <h2 class="documentation__item-title">
          How to delete survey
        </h2>
        <p class="documentation__item-text">
          To delete survey you should click delete button at the page of your survey answers. How to open survey answers you can see in the previous docs.
        </p>
      </div>
    </div>
  </div>
</div>