<div class="error">
  <div class="container">
    <h1 class="error__status">
      {{status}}
    </h1>
    <h2 class="erro__title">
      {{msg}}
    </h2>
    <p class="error__message">
      <a href="/">
        Перейти на головну
      </a>
    </p>
  </div>
</div>