<div class="intro">
  <div class="container">
    <div class="flex-container">
      <div class="intro__text">
        <h1 class="intro__title">
          Найкращий редактор
          <br />
          письмових тестів
          <br />
          доступний кожному
        </h1>
        <p class="intro__paragraph">
          Yum це зручний редактор письмових тестів для школи, університету, публічних опитувань, тощо. Yum повністю
                    бесплатний та легкий у використанні.
        </p>
        <a href="/new-test" class="intro__btn">
          Створити тест
        </a>
      </div>
      <div class="intro__img">
        <img src="./images/website/intro_img.png" alt="Створіть свій тест" />
      </div>
    </div>
  </div>
</div>