<div class="new-test__success">
  <div class="container">
    <h1 class="new-test__success-title">
      Тест успішно створений
    </h1>
    <p class="new-test__success-href">
      Посиланння на тест:
      <a href={{testLink}}>
        {{testLink}}
      </a>
    </p>
    <p class="new-test__success-caption">
      <a href="/">
        На головну
      </a>
    </p>
  </div>
</div>