<div class="new-test__success">
  <div class="container">
    <h1 class="new-test__success-title">
      Survey created successfully
    </h1>
    <p class="new-test__success-href">
      Lint to survey:
      <a href={{testLink}}>
        {{testLink}}
      </a>
    </p>
    <p class="new-test__success-caption">
      <a href="/">
        To home page
      </a>
    </p>
  </div>
</div>