<div class="test">
  <div class="container">
    <form action="/test/{{testId}}" method="post" class="test__form">
      <h1 class="test__title">
        {{title}}
      </h1>
      <div class="test__ques">
        {{#each questions}}
          <div class="test__que">
            <h2 class="test__que-title">
              {{this}}
            </h2>
            <textarea name="{{this}}" class="test__que-textarea"></textarea>
          </div>
        {{/each}}
      </div>
      <div class="test__submit-container">
        <button class="test__submit-btn" type="submit">
          Send
        </button>
      </div>
    </form>
  </div>
</div>