:root {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 10px;
  background-color: #f2f2f2;
}
@media screen and (max-width: 1024px) {
  :root {
    font-size: 8px;
  }
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-container {
  display: flex;
}

a {
  text-decoration: none;
}

.account-btn {
  display: none;
}

.header {
  padding: 15px 0;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .header {
    justify-content: space-between;
    padding: 10px 0;
  }
}
.header.authorized .account-btn,
.header.authorized .account-leave {
  display: block;
}
.header.authorized .account-btn path,
.header.authorized .account-leave path {
  transition: 0.25s fill, 0.25s stroke;
}
.header.authorized .account-btn:hover path:first-child,
.header.authorized .account-leave:hover path:first-child {
  fill: #e17d9f;
}
.header.authorized .account-leave:hover path {
  stroke: #e17d9f;
  fill: #e17d9f;
}
.header.authorized .registration-btn,
.header.authorized .login-btn {
  display: none;
}

.header__logo-link {
  color: #a193f2;
  font-size: 5rem;
  font-weight: 800;
}

.header__logo {
  margin-right: 9rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: 2s height;
}
@media screen and (max-width: 1024px) {
  .nav {
    position: fixed;
    top: 70px;
    left: 0;
    height: 0px;
    overflow: hidden;
    display: block;
    background: #fbfbfb;
    width: 100vw;
    z-index: 100;
  }
  .nav.active {
    height: fit-content;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .nav.active .nav__list .nav__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .nav.active .nav__list:first-child {
    display: block;
    text-align: center;
  }
  .nav.active .nav__list:last-child {
    width: fit-content;
    gap: 20px;
    margin: 0 auto;
  }
}

.nav__item {
  margin-right: 5rem;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #a193f2;
  font-size: 1.8rem;
  transition: 0.25s color;
}
.nav__link:hover {
  color: #e17d9f;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.registration-btn {
  text-align: center;
  width: 160px;
  border: 2px solid #a193f2;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 30px;
  transition: 0.25s background-color, 0.25s border;
}
.registration-btn a {
  display: block;
  height: 38px;
  line-height: 38px;
}
.registration-btn:hover {
  border: 2px solid rgba(225, 125, 159, 0);
  background-color: #e17d9f;
}
.registration-btn:hover a {
  color: #ffffff;
  display: block;
}

.account-leave {
  margin-right: 20px;
}
.account-leave button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.login-btn {
  text-align: center;
  width: 160px;
  border: 2px solid #a193f2;
  background-color: #a193f2;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.25s background-color, 0.25s border;
}
.login-btn a {
  color: #ffffff;
  display: block;
  height: 38px;
  line-height: 38px;
}
.login-btn:hover {
  border: 2px solid #e17d9f;
  background: none;
}
.login-btn:hover a {
  color: #e17d9f;
}

.footer {
  padding: 40px;
  background-color: #f2f2f2;
}

.footer__logo {
  color: #a193f2;
  margin-bottom: 12px;
  font-size: 5rem;
  text-align: center;
}

.footer__paragraph {
  text-align: center;
  font-size: 1.5rem;
  color: #424242;
}

.menu-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1024px) {
  .menu-btn {
    display: block;
  }
}
.menu-btn span {
  display: block;
  width: 32px;
  border-radius: 3px;
  background: #a193f2;
  height: 6px;
  position: relative;
}
.menu-btn span::before {
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  border-radius: 3px;
  background: #a193f2;
  height: 6px;
  top: -12px;
  left: 0;
}
.menu-btn span::after {
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  border-radius: 3px;
  background: #a193f2;
  height: 6px;
  bottom: -12px;
  left: 0;
}

/*# sourceMappingURL=main.css.map */
